{% extends 'admin/admin_baze.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>

    <a href="{{ path('admin_user_create') }}">Создать пользователя</a>
    <br>
    <h2>Список пользователей</h2>
    <ul>
        {% for user in users %}
        <li>{{ user.email }}, {{ user.roles | json_encode }}</li>
        {% endfor %}
    </ul>
{% endblock %}