{% extends 'admin/admin_baze.html.twig' %}

{% block body %}
    <a href="{{ path('app_logout') }}">Выход</a>
    <h1>{{ title }}</h1>
    <a href="{{ path('admin_user') }}">Пользователи</a>
{% endblock %}
